<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_SRV" value="inventory" />
	<property name="LOG_LEVEL" value="INFO" />

	<appender name="CONSOLE-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} {%thread} %-5level %X{oneplusLogId} %logger{50} %msg%n</pattern>
		</layout>
	</appender>

	<logger name="org.springframework" level="${LOG_LEVEL}" />

	<logger name="com.alibaba" level="${LOG_LEVEL}" />

	<logger name="org.IOItec.zkclient" level="${LOG_LEVEL}" />

	<logger name="org.apache.zookeeper" level="${LOG_LEVEL}" />

	<logger name="org.jboss.netty" level="${LOG_LEVEL}" />

	<logger name="org.apache.ibatis" level="${LOG_LEVEL}" />

	<logger name="org.hibernate" level="${LOG_LEVEL}" />

	<root name="com.oneplus.inventory" level="INFO">
		<appender-ref ref="${LOG_SRV}" />
		<appender-ref ref="CONSOLE-APPENDER" />
	</root>

</configuration>